<form action="<%= action %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
  <% if value != "Login" %>
  <p>
    <label>First Name
      <input type="text" name="user[f_name]">
    </label>
  </p>
  
  <p>
    <label>Last Name
      <input type="text" name="user[l_name]">
    </label>
  </p>
  <% end %> 
  
  <p>
    <label>Email
      <input type="text" name="user[email]">
    </label>
  </p>
  
  <p>
    <label>Password
      <input type="password" name="user[password]">
    </label>
  </p>
  
  <input type="submit" value="<%= value %>">
  
</form>


