section, body, h1, h3, form, input, textarea, ul, li{
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: sans-serif;
  position: relative;
	height: 100%;
}

.home_page{

}


.main_nav{
	position: fixed;
	z-index: 100;
	left: 0;
	background: yellow;
	height: 100%;
	width: 200px;
}

.product_index{
	position: fixed;
	z-index: 99;
	display: none;
	background-color: lightgreen;
	width: 100px;
	height: 100%;
	left: 200px;

	-webkit-transition: left 0.7s ease-out;
	transition: left .07s ease-out;
	transition-delay: initial;
}

.dynamic_view_container{
	position: fixed;
	background: lightblue;
	width: 100%;
	left: 200px;
	height: 100%;
}

.show_loot_index{
	background: purple;
	height: 100%;
}



/********* SEE INDEX TOP ********/
.space-top{
	height: 50%;
	width: 100%;
	position: relative;
}

.space-top a{
	display: block;
	width: 100%;
	height: 100%;
}

#space-1{
	position: absolute;
	background: red;
	width: 200px;
	height: 100%;
/*	float: left;*/
}

#space-2{
	position: absolute;
	left: 200px;
	background: blue;
	width: 200px;
	height: 100%;
/*	float: left;*/
}

#space-3{
	position: absolute;
	left: 400px;
	background: grey;
	width: 200px;
	height: 100%;
/*	float: left;*/
}

#space-6{
	position: absolute;
	left: 600px;
	background: lightgreen;
	width: 350px;
	height: 100%;
/*	float: left;*/
}

#space-7{
	position: absolute;
	left: 900px;
	background: lightblue;
	width: 250px;
	height: 100%;
/*	float: left;*/
}



/******* SEE INDEX BOTTOM ********/

.space-bottom{
	height: 50%;
	width: 100%;
	position: relative;
}

#space-4{
	position: absolute;
	background: white;
	width: 300px;
	height: 100%;
/*	float: left;*/
}

#space-5{
	position: absolute;
	background: goldenrod;
	left: 300px;
	width: 300px;
	height: 100%;
/*	float: left;*/
}


#space-8{
	position: absolute;
	background: orange;
	left: 600px;
	width: 250px;
	height: 100%;
/*	float: left;*/
}

#space-9{
	position: absolute;
	background: purple;
	left: 850px;
	width: 350px;
	height: 100%;
/*	float: left;*/
}



.unhide_product_index{
	display: block;
}

.move_right{
	left: 300px;
}

.show_contact_index{
	height: auto;
	width: 800px;
	margin: auto;
	position: fixed;
	margin-top: 2%;
}
.show_contact_index h1, h3{
	display: block;
	text-align: center;
	margin: 10px 0px;
}

.show_contact_index > h1{
	font-size: 180%;
}

.show_contact_index > h3{
	font-size: 150%;
}

.show_contact_index form{
	width: 100%;
}

.show_contact_index input{
	display: block;
	padding: 10px;
	margin: auto;
	margin-bottom: 20px;
}

.show_contact_index textarea{
	display: block;
	padding: 10px;
	width: 80%;
	height: 400px;
	margin: auto;
	margin-bottom: 20px;
}








