<div>
	<h1>Loot</h1>
	<br>
	
	<ul>
		
		<li><a href="#" class="see_loot_link">See Loot</a></li>
		<li><a href="#" class="shop_loot_link">Shop Loot</a></li>
		<li><a href="#" class="about_link">About</a></li>
		
	</ul>
</div>