<div class="space-top">
	<div id="space-1">
		<a href="" class=""><img src="photo.JPG"></img></a>
	</div>

	<div id="space-2">

	</div>

	<div id="space-3">

	</div>
</div>

<div class="space-bottom">
	<div id="space-4">

	</div>

	<div id="space-5">

	</div>
</div>