
<h1>Interested in what you see?</h1>
<h3>Please Contact Us</h3>

<form action="#">
	<input type="text" placeholder="Subject"></input>
	<textarea placeholder="Your Message"></textarea>
	
	<input type="submit" value="Email Us!"></input>
</form>